
    <link rel="stylesheet" href="../../static/style.css">
    <div style="text-align:center ; margin-top: 100px;">

        <!-- <form method="post" enctype="multipart/form-data" action="done">
    
            {% csrf_token %}
            <div ><label for="fname">Upload Image File Here:</label> </div> <input name="filePath" type="file"><br><br>
            <br>
        
            
            <input type="submit" value="Submit" ></div>    
        </form> -->

        <h2>File Upload & Image Preview</h2>
        <br>
        <br>
        <form id="file-upload-form" class="uploader" method="post" enctype="multipart/form-data" action="done">
            {% csrf_token %}

            <input id="file-upload" type="file" name="filePath" accept="image/*" />

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a file or drag here</div>
            <div id="notimage" class="hidden">Please select an image</div>
            <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
                <span>0</span>%
            </progress>
            </div>
        </label>
        
        <button type="submit">Scan</button>
        </form>
    </div>


    <script src="../../static/script.js"></script>
